apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
spec:
  selector:
    app: {{ .Values.name }}
  ports:
  - name: {{ .Values.name }}
    port: {{ .Values.port }}
    targetPort: {{ .Values.port }}