global:
  domain: "{{ .Values.clusterName }}.{{ .Values.domainName }}"
  labels:
    ttl-ops/marco: polo

server:
  extraArgs:
    - --insecure

  ingress:
    enabled: true
    hostname: "argocd.{{ .Values.clusterName }}.{{ .Values.domainName }}"
    path: /
    ingressClassName: traefik
    pathType: Prefix
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - secretName: "wildcard-tls"
        hosts:
          - "{{ .Values.clusterName }}.{{ .Values.domainName }}"

configs:
  params:
    server.insecure: "true"

certificates:
  enabled: true