apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media-nfs
  namespace: jellyfin
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "" 
  resources:
    requests:
      storage: 1Ti
  volumeName: plex-media-nfs
