heimdall:
  main:
    ingress:
      enabled: true
      hosts:
        - host: home.studio.abode.tailandtraillabs.org
          paths:
            - path: /
      ingressClassName: studio-traefik
    annotations:
      kubernetes.io/ingress.class: studio-traefik
    tls:
      - secretName: wildcard-tls
        hosts:
          - home.studio.abode.tailandtraillabs.org