opentelemetry-operator:
  mode: deployment  # or daemonset

  config:
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318
          grpc:
            endpoint: 0.0.0.0:4317
    
    processors:
      batch:
        timeout: 10s
        send_batch_size: 1024
      
    exporters:
      prometheus:
        endpoint: "prometheus-operated.kube-prometheus-stack.svc:9090"
        namespace: "kube-prometheus-stack"
      
      otlp/tempo:
        endpoint: "monitoring-kube-prometheus-stack-tempo.kube-prometheus-stack.svc:4317"
        tls:
          insecure: true
      
      logging:
        loglevel: debug  # for testing
    
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/tempo, logging]
        
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus, logging]
