external-dns:
  provider: aws
  aws:
    region: us-east-2
  txtOwnerId: ttl-ops
  domainFilters:
    - {{.Values.clusterName}}.abode.tailandtraillabs.org
    - .{{.Values.clusterName}}.abode.tailandtraillabs.org
  policy: sync  # Creates & deletes records
  sources:
    - ingress
    - service
    - traefik-proxy  # For Traefik IngressRoute
  crd:
    create: false  # Traefik CRDs already exist
    apiversion: traefik.io/v1alpha1
    kind: IngressRoute
  interval: 1m
  logLevel: info
  env:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: route53-credentials
          key: aws-access-key-id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: route53-credentials
          key: aws-secret-access-key
    - name: AWS_REGION
      value: us-east-2