---
- name: Build dynamic inventory from clusters.json
  hosts: localhost
  connection: local
  gather_facts: no
  remote_user: root
  vars:
    clusters_file: "./clusters.json"
  
  tasks:
    - name: Read clusters.json
      slurp:
        src: "{{ clusters_file }}"
      register: clusters_raw

    - name: Parse clusters JSON
      set_fact:
        clusters_data: "{{ clusters_raw.content | b64decode | from_json }}"

    - name: Add hosts dynamically
      add_host:
        name: "{{ item.0.name }}-node{{ item.1 }}"
        ansible_user: ubuntu
        groups: 
          - k3s_cluster
          - "cluster_{{ item.0.name }}"
        ansible_host: "{{ item.0.name }}-node{{ item.1 }}.{{ clusters_data.domainname }}"
        cluster_name: "{{ item.0.name }}"
        domainname: "{{ clusters_data.domainname }}"
        node_index: "{{ item.1 }}"
        is_node0: "{{ item.1 == 0 }}"
        site: "{{ item.0.site }}"
        owner: "{{ item.0.owner }}"
        appgroups: "{{ item.0.appgroups }}"
        k3s_version: "v1.34.1+k3s1"
        k3s_token: "N2260mN2260m"
      loop: "{{ clusters_data.cluster | product(range(0, 10)) | list }}"
      when: item.1 < item.0.numnodes

- name: Install k3s on dynamically built inventory
  hosts: k3s_cluster
  become: yes
  gather_facts: yes
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
  tasks:
    - name: Install k3s on node0
      when: is_node0
      environment:
        K3S_KUBECONFIG_MODE: "644"
        INSTALL_K3S_VERSION: "{{ k3s_version }}"
        #INSTALL_K3S_EXEC: "server --cluster-init --tls-san {{ ansible_host }} --node-name {{ inventory_hostname }} --node-label appgroup={{ appgroups }} --node-label clustername={{ cluster_name }}"
        INSTALL_K3S_EXEC: "server --cluster-init --tls-san {{ ansible_host }} --node-name {{ inventory_hostname }} {% for group in appgroups %}{% for key, value in group.items() %}--node-label appgroup/{{ key }}={{ value | lower }} {% endfor %}{% endfor %} --node-label clustername={{ cluster_name }}"
        K3S_TOKEN: "{{ k3s_token }}"
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Install k3s on other nodes
      when: not is_node0
      environment:
        K3S_KUBECONFIG_MODE: "644"
        INSTALL_K3S_VERSION: "{{ k3s_version }}"
        #INSTALL_K3S_EXEC: "agent --node-name {{ inventory_hostname }}"
        INSTALL_K3S_EXEC: "agent --node-name {{ inventory_hostname }} {% for group in appgroups %}{% for key, value in group.items() %}--node-label appgroup/{{ key }}={{ value | lower }} {% endfor %}{% endfor %} --node-label clustername={{ cluster_name }}"
        K3S_TOKEN: "{{ k3s_token }}"
        K3S_URL: "https://{{ cluster_name }}-node0.{{ domainname }}:6443"
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Creat /dataz
      when: is_node0
      file:
        path: /dataz
        state: directory
    - name: install packages
      when: is_node0
      package:
        name: nfs-common
        state: present
        update_cache: yes
    - name: fstab
      when: is_node0
      lineinfile:
        path: /etc/fstab
        line: "danas.hangar.bpfx.org:/volume1/dataz /dataz nfs defaults 0 0"
        state: present
    - name: mount
      when: is_node0
      shell: |
        mount -a

    - name: Copy and modify kubeconfig to NAS
      when: is_node0
      block:
        - name: Read k3s kubeconfig
          slurp:
            src: /etc/rancher/k3s/k3s.yaml
          register: kubeconfig_content

        - name: Write modified kubeconfig to NAS
          copy:
            content: "{{ (kubeconfig_content.content | b64decode) | regex_replace('127.0.0.1:6443', cluster_name + '-node0.' + domainname + ':6443') }}"
            dest: /dataz/kube/k3s-{{ cluster_name }}-config.yaml
            mode: '0644'