---
- hosts: all
  become: yes
  gather_facts: yes
  environment:
    K3S_KUBECONFIG_MODE: "644"
    INSTALL_K3S_VERSION: "v1.34.1+k3s1"
    K3SVARS: "--node-name ${var.cluster_name}-node${count.index} ${local.appgroup_labels} --node-label clustername=${var.cluster_name}"
    K3S_TOKEN: "N2260mN2260m"

  tasks:
    - name: Install k3s on node0
      when: "'node0' in ansible_hostname"
      environment:
        INSTALL_K3S_EXEC: "server --cluster-init --tls-san ${var.cluster_name}-node0.abode.tailandtraillabs.org $K3SVARS"
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Install k3s on nodeX
      when: "'node0' not in ansible_hostname"
      environment:
        INSTALL_K3S_EXEC: "agent $K3SVARS"
        K3S_URL: "https://${var.cluster_name}-node0.abode.tailandtraillabs.org:6443"
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Ensure k3s service is running
      systemd:
        name: k3s
        state: started
        enabled: yes

    - name: Verify k3s installation
      command: k3s --version
      register: k3s_version

    - name: Display k3s version
      debug:
        msg: "k3s version installed: {{ k3s_version.stdout }}"